@model Question

@{
    ViewBag.Title = "Ask your question";
    Layout = @Layout;
}

<h2>Ask a question</h2>

<div class="card">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"/>
        <div class="card-header">
            <div class="form-group form-group-lg">
                <label asp-for="Topic" class="control-label"></label>
                <input asp-for="Topic" class="form-control" placeholder="Enter a topic..."/>
                <span asp-validation-for="Topic" class="text-danger"></span>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group form-group-lg">
                <div>
                    <label asp-for="Body" class="control-label"></label>
                </div>
                <div>
                    <textarea asp-for="Body" class="form-control" style="min-width: 100%" placeholder="Type you question here..." ></textarea>
                </div>
                <div>
                    <span asp-validation-for="Body" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <input type="submit" value="Create" class="btn btn-primary"/>
        </div>
    </form>
</div>

<div>
    <a asp-controller="Home" asp-action="Home" class>Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
