@page
@model ApiFrontEnd.Pages.UserModel
@{
    Layout = "_Layout";

}

<h2> @ViewData["Title"] </h2>

<form>
    
    <div class="form-group row">
        <label asp-for="ModelUser.Name" class="col-md-3 col-form-label"></label>
        <input asp-for="ModelUser.Name" class="form-control" type="email" name="name" disabled="disabled" />
    </div>
    <div class="form-group row">
        <label asp-for="ModelUser.Surname" class="col-md-3 col-form-label"></label>
        <input asp-for="ModelUser.Surname" class="form-control" type="email" name="name" disabled="disabled" />
    </div>
    <div class="form-group row">
        <label asp-for="ModelUser.Email" class="col-md-3 col-form-label"></label>
        <input asp-for="ModelUser.Email" class="form-control" type="email" name="name" disabled="disabled"/>
    </div>
    <div class="form-group row">
        <label asp-for="ModelUser.PhoneNumber" class="col-md-3 col-form-label"></label>
        <input asp-for="ModelUser.PhoneNumber" class="form-control" type="tel" name="name" disabled="disabled"/>
    </div>
    <div class="form-group row">
        <label asp-for="ModelUser.Position" class="col-md-3 col-form-label"></label>
        <input asp-for="ModelUser.Position" class="form-control" type="email" name="name" disabled="disabled"/>
    </div>
    <div class="form-group row">
        <label asp-for="ModelUser.Exerience" class="col-md-3 col-form-label"></label>
        <input asp-for="ModelUser.Exerience" class="form-control" name="name" disabled="disabled"/>
    </div>
    <div class="form-group">
        <label asp-for="ModelUser.Rating"></label>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: @Model.ModelUser.Rating%" aria-valuenow="@Model.ModelUser.Rating" aria-valuemin="0" aria-valuemax="100">@Model.ModelUser.Rating</div>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ModelUser.Bio" class="col-sm-3 col-form-label"></label>
        <textarea asp-for="ModelUser.Bio" class="form-control" disabled="disabled"></textarea>
    </div>
</form>